@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: repeating-linear-gradient(
    0deg,
    #141414,
    /* Première couleur */ #414141 2px,
    /* Taille du motif */ #1a1a1a 2px,
    /* Deuxième couleur */ #3a3a3a 5px /* Taille du motif */
  );
  box-sizing: border-box; /* Inclut les bordures dans la taille */
}

body {
  width: 100%;
}

.page-game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 5px 8px 0px rgb(35, 35, 35);
}

.categories {
  display: flex;
  justify-content: center; /* Centre les catégories horizontalement */
  align-items: center; /* Aligne verticalement */
}

.button-logo {
  background: linear-gradient(to bottom, #d0d0d0, #969696);
  /* Gris clair avec un léger dégradé */
  color: rgba(55, 55, 55, 0.559);
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-flex; /* Flex pour centrer verticalement */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 5px; /* Réduction de l'espace interne */
  font-size: 20px; /* Taille de police plus petite */
  flex: 1; /* Rend les boutons flexibles pour occuper l'espace */
  border-right: 1px solid #a0a0a0; /* Séparation entre les boutons */
}

.button-logo-select {
  background: linear-gradient(to bottom, #d0d0d0, #8e8e8e);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-flex; /* Flex pour centrer verticalement */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 5px; /* Réduction de l'espace interne */
  font-size: 20px; /* Taille de police plus petite */
  flex: 1; /* Rend les boutons flexibles pour occuper l'espace */
  border-right: 1px solid #a0a0a0; /* Séparation entre les boutons */
}

.button-logo:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.button-logo:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.button-logo:hover {
  background: linear-gradient(
    to bottom,
    #d0d0d0,
    #b0b0b0
  ); /* Effet au survol */
}

.img_gray {
  filter: grayscale(100%);
}
.game-page-container {
  overflow: hidden;
}

.empty-container {
  display: flex;
  align-items: center; /* Aligne verticalement le texte et l'icône */
  justify-content: center; /* Centrer le contenu horizontalement */
  gap: 10px; /* Ajoute un espace entre le texte et l'icône */
  margin-top: 200px;
  color: rgba(255, 255, 255, 0.73);
  font-size: 30px;
}

.empty-text {
  font-size: 1.2em; /* Ajustez la taille de la police si nécessaire */
}

.empty-icon {
  color: rgba(255, 255, 255, 0.549);
}

.slider-container img {
  display: inline-block;
  position: relative;
}

.slick-center img {
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.img-slide {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px; /* Optionnel */
  object-fit: contain; /* Maintient l'effet 'contain' */
  width: 100%; /* S'ajuste à la taille du parent */
  height: auto; /* Respecte les proportions */
}

/* Style des images dans chaque slide */
.slick-slide img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out, box-shadow 0.3s ease;
}

.slick-slide img:hover {
  cursor: pointer;
}

/* Style pour les autres images (plus petites) */
.slick-slide:not(.slick-center) img {
  border-radius: 5px;
  transform: scale(0.8); /* Réduit la taille des images autour */
  transform-origin: bottom center;
  filter: grayscale(90%);
  padding-top: 15px;
  opacity: 40%;
  transition: transform 0.4s ease-in-out;
}

.slider-container {
  overflow: hidden; /* Masque tout débordement */
}

.title-logo {
  display: flex;
  justify-content: space-evenly;
  min-width: 380px;
}

.card-game {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.title-game {
  font-size: 45px;
  font-weight: 700;
  color: whitesmoke;
  word-spacing: 2px;
  letter-spacing: 2px;
}

.text-info {
  color: rgba(0, 0, 0, 0.675);
  font-size: 24px;
}

.text-card {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
}

.note-style {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
}

.note-top {
  color: rgba(0, 0, 0, 0.675);
  font-size: 15px;
}

.text-red {
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.811);
  padding: 1px;
  font-weight: 700;
  color: white;
  min-width: 40px;
  text-align: center;
}

.text-orange {
  background-color: rgb(255, 116, 2);
  border: 1px solid rgba(255, 255, 255, 0.811);
  padding: 1px;
  font-weight: 700;
  color: white;
  min-width: 40px;
  text-align: center;
}

.text-light-orange {
  background-color: #ffb700;
  border: 1px solid rgba(255, 255, 255, 0.811);
  padding: 1px;
  font-weight: 700;
  color: white;
  min-width: 40px;
  text-align: center;
}

.text-green {
  background-color: rgba(149, 255, 0, 0.777);
  border: 1px solid rgba(255, 255, 255, 0.811);
  padding: 1px;
  font-weight: 700;
  color: white;
  min-width: 40px;
  text-align: center;
}

.text-white {
  background-color: rgba(0, 255, 13, 0.714);
  border: 1px solid rgba(255, 255, 255, 0.276);
  padding: 1px;
  font-weight: 600;
  color: white;
  min-width: 40px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.game-info {
  min-width: 380px;
}

.logo-jvc {
  display: flex;
  justify-content: center;
}

.game-description {
  min-width: 380px;
}

.game-staff {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  color: rgba(255, 255, 255, 0.395);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: rgba(255, 255, 255, 0.395);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
